<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"    
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jpa="http://www.springframework.org/schema/data/jpa"   
    xsi:schemaLocation="    
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd     
        http://www.springframework.org/schema/tx     
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd  
        http://www.springframework.org/schema/data/jpa 
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd  
        http://www.springframework.org/schema/aop     
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">     
    <!-- 配置数据源 Druid -->   
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"  
        init-method="init" destroy-method="close">  
        <!-- MySQL数据库配置 -->  
        <property name="driverClassName" value="${jdbc.driver}" /> 
        <property name="url" value="${jdbc.url}" />  
        <property name="username" value="${jdbc.name}" />  
        <property name="password" value="${jdbc.pass}" />  
        <!-- SQL Server数据库配置 -->  
        <!-- <property name="url" value="jdbc:sqlserver://localhost:1433;DatabaseName=yfkj"   
            /> <property name="username" value="sa" /> <property name="password" value="123456"   
            /> -->  
        <!-- Oracle数据库配置 -->  
        <!-- <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:yfkj"   
            /> <property name="username" value="SYSTEM" /> <property name="password"   
            value="SkyNet888999" /> -->  
        <!-- 配置初始化大小、最小、最大 -->  
        <property name="initialSize" value="1" />  
        <property name="minIdle" value="1" />  
        <property name="maxActive" value="20" />  
        <!-- 配置获取连接等待超时的时间 -->  
        <property name="maxWait" value="60000" />  
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->  
        <property name="timeBetweenEvictionRunsMillis" value="60000" />  
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->  
        <property name="minEvictableIdleTimeMillis" value="300000" />  
        <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->  
        <property name="poolPreparedStatements" value="true" />  
        <property name="maxPoolPreparedStatementPerConnectionSize"  
            value="20" />  
        <!-- 配置监控统计拦截的filters -->  
        <property name="filters" value="stat,log4j,wall" />  
    </bean>  
<!-- JPA实体管理器工厂 -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />
        <!-- 加入定制化包路径 -->
        <property name="packagesToScan" value="com.xiaohe.entity" />

        <property name="jpaProperties">
            <props>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop><!-- validate/update/create -->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
                
                <!-- 建表的命名规则 -->
                <prop key="hibernate.ejb.naming_strategy">com.xiaohe.config.VimsNamingStrategy</prop>
                
            </props>
        </property>
        
    </bean>
    
    <!-- 设置JPA实现厂商的特定属性 -->
    <bean id="hibernateJpaVendorAdapter"
        class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="databasePlatform" value="${hibernate.dialect}"/>
    </bean>
    
    <!-- Jpa 事务配置 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- 配置事务增强处理Bean，指定事务管理器 -->    
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">    
        <!-- 配置详细事务处理语义 -->    
        <tx:attributes>    
            <tx:method name="insert*" propagation="REQUIRED" />    
            <tx:method name="update*" propagation="REQUIRED" />    
            <tx:method name="delete*" propagation="REQUIRED" />    
    
            <tx:method name="get*" propagation="SUPPORTS" read-only="true" />    
            <tx:method name="find*" propagation="SUPPORTS" read-only="true" />    
            <tx:method name="select*" propagation="SUPPORTS" read-only="true" />    
            <tx:method name="load*" propagation="SUPPORTS" read-only="true" />    
    
            <!-- 其他采用默认事务方式 -->    
            <tx:method name="*" />    
    
        </tx:attributes>    
    </tx:advice>  
    
    <!-- Spring Data Jpa配置 -->
    <jpa:repositories base-package="com.xiaohe.repository"  transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory"/>
    
    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />

</beans>   